ody {
  background-color: #b0ff96 !important;
  box-sizing: border-box;
}
.card{
text-align:center;
background-color: white;
margin:2%;
height: 400px;
width: 250px;
padding:20px;
font-size:70px;
padding-top:150px;
border-radius: 15px;
position:relative;
}
.card:before{
position: absolute;
top:0;
left:0;
font-size:80px;
}
.card:after{
position: absolute;
bottom:0;
right:0;
font-size:80px;

}
.card.spade:before, .card.spade:after{content:'\2660'; }
.card.club:before, .card.club:after{content:'\2663'; }
.card.hearts:before, .card.hearts:after{content:'\2665';color:red; }
.card.diams:before, .card.diams:after{content:'\2666';color:red; }